.content > h1 {
  margin-top: 1rem;
  text-align: center;
}

section > h3 {
  margin-left: 1.5em;
}

.txst {
  float: right;
  height: 100px;
  border: 0;
  border-radius: 10px;
  background-color: white;
}

.auctane,
.aca {
  /* margin-top: 4px; */
  float: right;
  height: 100px;
  border: 0;
  border-radius: 10px;
}

@media (min-width: 576px) {
  .txst,
  .aca {
    /* do something */
    float: left;
    /* display: inline-block; */
    margin-right: 2%;
  }
  .three-p {
    /* color: blue; */
    /* margin-left: 150px; */
  }
  #three-p-1 {
    /* margin-bottom: 100px; */
  }

  .section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.5fr 0.5fr 1fr 0.7fr;
    grid-template-areas:
      "one one"
      "two three"
      "four three"
      "four five"
      "six six";
    /* grid-gap: 50px; */
    /* margin-bottom: 50px; */
  }
}
@media (min-width: 992px) {
  .three-p {
    /* color: blue; */
    /* margin-left: 150px; */
  }
  .section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.5fr 0.5fr;
    grid-template-areas:
      "one one one"
      "two three four"
      "five five four"
      "six six .";

    /* grid-gap: 50px; */
    /* margin-bottom: 50px; */
  }
}
