/* Global Styles */

* {
  box-sizing: border-box;
}

html {
  /* height: 100vh; */
  background-image: linear-gradient(45deg, #3695fa, #882888);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  /* line-height: 1.2; */
}

h1 {
  font-size: 2.5rem;
}

body {
  /* background-image: linear-gradient(45deg, #3695fa, #882888); */
  /* height: 115vh; */
  /* overflow: hidden; */
  /* font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  color: rgb(248, 249, 250);
}

section {
  margin: 1em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.one {
  border: none;
}

/* NAV SECTION */
nav {
  background-color: rgb(33, 37, 41);
  display: flex;
  justify-content: center;
}
ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-inline-start: 0;
}
li > a {
  padding: 1em 1em;
  text-decoration: none;
  color: #3695fa;
  transition: color 150ms;
}
li > a:hover {
  color: rgb(4, 59, 179);
  transform: scale(1.2);
}

/* End of nav section  */

/* nav adjusts at tablet breakpoint */
@media (min-width: 576px) {
  nav {
    justify-content: flex-end;
  }
}
